@charset "UTF-8";

#wrap{
	width:1200px;
	margin:auto;
}
.section{
	
	margin:auto;
}
.sectionDiv{
	
	border: solid 1px #cccccc;
}
.bi-heart{
	font-size:30px;
}
.bi-heart-fill{
	font-size:30px;
	
}
.image-fill{
	font-size:25px;
}